{% extends 'HasheadoBlogBundle::layout.html.twig' %}

{% block content %}
	
	<section class="homepage">
	
		{% if posts|length > 0 %}
			
			{% for post in posts %}
				<article>
					<header>
						<h1>
							<a href="{{ path('hasheado_blog_post_detail', { 'slug': post.slug }) }}">{{ post.title }}</a>
						</h1>
						<p>Publicado el
							<time datetime="{{ post.publishedAt.format('c') }}">
								{{ post.publishedAt | localeDate('long', 'none', app.request.locale) }}
							</time> -
							<a href="{{ path('hasheado_blog_post_detail', { 'slug': post.slug }) }}#disqus_thread">{{ post.comments|length }} comentarios</a>
						</p>
					</header>
					<p>{{ post.content|raw }}</p>
				</article>
			{% endfor %}

			{% if paginator.have_to_paginate %}
				<ul class="pager">
					<li class="previous {% if paginator.page == 1 %}disabled{% endif %}">
						{% set newer_link = (paginator.page == 1)? 'javascript:void(0)' : path(paginator.route, { page: paginator.left }) %}
						<a href="{{ newer_link }}">&larr; Nuevos Posts</a>
					</li>
					<li class="next {% if paginator.page == paginator.num_pages %}disabled{% endif %}">
						{% set older_link = (paginator.page == paginator.num_pages)? 'javascript:void(0)' : path(paginator.route, { page: paginator.right }) %}
						<a href="{{ older_link }}">Posts Anteriores &rarr;</a>
					</li>
				</ul>
			{% endif %}

		{% else %}
			<p>No posts found.</p>
		{% endif %}
		
	</section>

{% endblock %}