{% extends 'HasheadoBlogBundle::layout.html.twig' %}

{% set page_title = post.title %}

{% block content %}
	<section class="post-detail clearfix row-fluide">
	
		<article>
			<header>
				<h1>{{ post.title }}</h1>
				<p>Publicado el
					<time datetime="{{ post.publishedAt.format('c') }}">
						{{ post.publishedAt | localeDate('long', 'none', app.request.locale) }}
					</time> -
					<a href="{{ path('hasheado_blog_post_detail', { 'slug': post.slug }) }}#comments">{{ post.comments|length }} comentarios</a>
				</p>
			</header>

			{{ post.content|raw }}
		</article>

		<div class="social-bar">
			<span>Compártelo: </span> {{ socialButtons() }}
		</div>

		<!-- DISQUS -->
		<div id="disqus_thread"></div>
		<script type="text/javascript">
	        var disqus_shortname = 'hasheado',
	        	disqus_identifier = 'my-blog';

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>
	    	Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	    </noscript>

		<!--<h3>Comments</h3>

		{% if post.comments|length > 0 %}
			{% for comment in post.comments %}

				{% if comment.isAccepted %}

					<article>
						<p>{{ comment.userName }} ({{ comment.userEmail }}) said:</p>
						<p>{{ comment.content }}</p>
					</article>

				{% else %}

					<p><a name="#comment-{{ comment.id }}"></a>Your comment is waiting for moderation.</p>

				{% endif %}

			{% endfor %}
		{% else %}
			<p>No comments.</p>
		{% endif %}

		<div class="leave-comment clearfix ptl prl pbl pll mbl">
			<h3 class="mbl">Leave your comment</h3>

			<form action="{{ path('hasheado_blog_comment_post') }}" method="post" class="comment-form">

				<div class="row">
				    
				    <div class="span6">
					    {{ form_label(form.userEmail, 'E-mail *') }}
					    {{ form_errors(form.userEmail) }}
					    {{ form_widget(form.userEmail) }}
				    </div>

				    <div class="span6">
					    {{ form_label(form.userName, 'Username') }}
					    {{ form_errors(form.userName) }}
					    {{ form_widget(form.userName) }}
					</div>

				</div>				

				<div class="row">
				    <div class="span4">
					    {{ form_label(form.web, 'Website') }}
					    {{ form_errors(form.web) }}
					    {{ form_widget(form.web) }}
				    </div>
				</div>

				<div class="row">
					<div class="span8">
					    {{ form_label(form.content, 'Comment *') }}
					    {{ form_errors(form.content) }}
					    {{ form_errors(form.antispam) }}
					    {{ form_widget(form.content) }}
				    </div>
				</div>

				<div class="row mtn">
					<div class="span8">
						{{ form_widget(form.post) }}
						{{ form_rest(form) }}

						<input class="btn btn-success" type="submit" name="submit_button" value="Comment" />
						<span class="muted pln">* Required.</span>
					</div>
				</div>

			</form>
		</div>-->
		
	</section>

{% endblock %}